Repository ssube/docker-thirdparty: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:base, image:golang, image:node, image:python3, image:ansible, image:bfg, image:code-climate, image:docker, image:hugo, image:licensed, image:rclone, image:shellcheck, image:sonar-scanner, image:terraform, image:docker-dind, image:nexus

Path conditions:
  image:base: any of: .gitlab-ci.yml, base/Dockerfile
  image:golang: any of: .gitlab-ci.yml, language/golang/Dockerfile
  image:node: any of: .gitlab-ci.yml, language/node/Dockerfile
  image:python3: any of: .gitlab-ci.yml, language/python3/Dockerfile
  image:ansible: any of: .gitlab-ci.yml, tool/ansible/Dockerfile
  image:bfg: any of: .gitlab-ci.yml, tool/bfg/Dockerfile
  image:code-climate: any of: .gitlab-ci.yml, tool/code-climate/Dockerfile
  image:docker: any of: .gitlab-ci.yml, tool/docker/Dockerfile
  image:hugo: any of: .gitlab-ci.yml, tool/hugo/Dockerfile
  image:licensed: any of: .gitlab-ci.yml, tool/licensed/Dockerfile
  image:rclone: any of: .gitlab-ci.yml, tool/rclone/Dockerfile
  image:shellcheck: any of: .gitlab-ci.yml, tool/shellcheck/Dockerfile
  image:sonar-scanner: any of: .gitlab-ci.yml, tool/sonar-scanner/Dockerfile
  image:terraform: any of: .gitlab-ci.yml, tool/terraform/Dockerfile
  image:docker-dind: any of: .gitlab-ci.yml, service/docker-dind/Dockerfile
  image:nexus: any of: .gitlab-ci.yml, service/nexus/Dockerfile

feat(base): add envsubst
  base/Dockerfile
Due: image:base

update: update docker.artifacts.apextoaster.com/sonatype/nexus3 docker tag to v3.37.3
  service/nexus/Dockerfile
Due: image:nexus

fix(base): use pip 3.6 for py 3.6
  base/Dockerfile
Due: image:base

fix(language/node): update to 16.13
  language/node/Gossfile.yml
Due: none

update(service/nexus): to 3.37
  .gitlab-ci.yml
  service/nexus/Dockerfile
  service/nexus/Gossfile.yml
Due: image:base, image:golang, image:node, image:python3, image:ansible, image:bfg, image:code-climate, image:docker, image:hugo, image:licensed, image:rclone, image:shellcheck, image:sonar-scanner, image:terraform, image:docker-dind, image:nexus

feat(tool/hugo): upgrade to 0.91
  .gitlab-ci.yml
  tool/hugo/Dockerfile
Due: image:base, image:golang, image:node, image:python3, image:ansible, image:bfg, image:code-climate, image:docker, image:hugo, image:licensed, image:rclone, image:shellcheck, image:sonar-scanner, image:terraform, image:docker-dind, image:nexus

fix(language/node): update to 16.14
  .gitlab-ci.yml
  language/node/Gossfile.yml
Due: image:base, image:golang, image:node, image:python3, image:ansible, image:bfg, image:code-climate, image:docker, image:hugo, image:licensed, image:rclone, image:shellcheck, image:sonar-scanner, image:terraform, image:docker-dind, image:nexus

fix(tool/hugo): switch to extended hugo dist
  tool/hugo/Dockerfile
Due: image:hugo

fix(tool/sonar-scanner): only check major Java version
  tool/sonar-scanner/Gossfile.yml
Due: none

update: update dependency docker.artifacts.apextoaster.com/sonatype/nexus3 to v3.38.0
  service/nexus/Dockerfile
Due: image:nexus

fix(build): update Nexus image version
  .gitlab-ci.yml
Due: image:base, image:golang, image:node, image:python3, image:ansible, image:bfg, image:code-climate, image:docker, image:hugo, image:licensed, image:rclone, image:shellcheck, image:sonar-scanner, image:terraform, image:docker-dind, image:nexus

update: update node.js to v16.14
  tool/hugo/Dockerfile
  tool/sonar-scanner/Dockerfile
Due: image:hugo, image:sonar-scanner

update: update dependency docker.artifacts.apextoaster.com/sonatype/nexus3 to v3.38.1
  service/nexus/Dockerfile
Due: image:nexus

update: update dependency docker.artifacts.apextoaster.com/apextoaster/base to v1.5
  tool/ansible/Dockerfile
  tool/bfg/Dockerfile
  tool/code-climate/Dockerfile
  tool/docker/Dockerfile
  tool/licensed/Dockerfile
  tool/rclone/Dockerfile
  tool/shellcheck/Dockerfile
  tool/terraform/Dockerfile
Due: image:ansible, image:bfg, image:code-climate, image:docker, image:licensed, image:rclone, image:shellcheck, image:terraform

update: update dependency docker.artifacts.apextoaster.com/sonatype/nexus3 to v3.39.0
  service/nexus/Dockerfile
Due: image:nexus

update build version for Nexus image
  .gitlab-ci.yml
Due: image:base, image:golang, image:node, image:python3, image:ansible, image:bfg, image:code-climate, image:docker, image:hugo, image:licensed, image:rclone, image:shellcheck, image:sonar-scanner, image:terraform, image:docker-dind, image:nexus

update nodejs minor version to 16.17
  language/node/Gossfile.yml
Due: none

fix(service/nexus): use microdnf for dependencies
  service/nexus/Dockerfile
Due: image:nexus

feat(games/conan): update to Dec release
  games/conan/Dockerfile
Due: none

update(service/nexus): to 3.46
  .gitlab-ci.yml
  service/nexus/Dockerfile
Due: image:base, image:golang, image:node, image:python3, image:ansible, image:bfg, image:code-climate, image:docker, image:hugo, image:licensed, image:rclone, image:shellcheck, image:sonar-scanner, image:terraform, image:docker-dind, image:nexus

feat(games/steam): add Steam image with Wine
  games/steam/Dockerfile
Due: none
